
<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @city.area %>
</p>
<p>
  <strong>user:</strong>
  <%= current_user.name %>
</p>

<%= link_to 'Edit', edit_city_path(@city) %> |
<%= link_to 'Back', cities_path %>
